html,body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
section{
  display: block;
  height: 25%;
  width: 50%;
  float: left;
}
ul{
  list-style-type: none;
  margin: auto 0px;
  padding: 0px;
  text-align: center;
}
a{
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  
}

/******************************nav-1******************************************/
.nav-1{
  background: rgba(86, 119, 140, 0.8);
}
.nav-1 a:before{
  content: '┌';
}
.nav-1 a:after{
  content: '┘';
}
.nav-1 a:before,.nav-1 a:after{
  position: relative;
  top: 0px; 
  right: 0px;
  opacity: 0;
  -webkit-transition:  opacity 0.2s, top 0.2s, right 0.2s;
  -moz-transition:  opacity 0.2s, top 0.2s, right 0.2s;
  -ms-transition:  opacity 0.2s, top 0.2s, right 0.2s;
  -o-transition: opacity 0.2s, top 0.2s, right 0.2s;
  transition: opacity 0.2s, top 0.2s, right 0.2s;
}
.nav-1 a:hover::before{
  top: -15px; 
  right: 10px;
  opacity: 1;
}
.nav-1 a:hover::after{
  top: 15px; 
  right: -10px;
  opacity: 1;
}


/******************************nav-2******************************************/
.nav-2{
  background: rgba(86, 119, 140, 0.8);
}

.nav-2 a:before,.nav-2 a:after{
  content: '';
  position: relative;
  opacity: 1;
  border: solid 1px black;
  -webkit-transition:  opacity 0.2s, top 0.2s, right 0.2s;
  -moz-transition:  opacity 0.2s, top 0.2s, right 0.2s;
  -ms-transition:  opacity 0.2s, top 0.2s, right 0.2s;
  -o-transition: opacity 0.2s, top 0.2s, right 0.2s;
  transition: opacity 0.2s, top 0.2s, right 0.2s;
}
.nav-2 a:after{
  /*border: solid 1px black;*/
}
