html,body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
section{
  display: block;
  position: relative;
  height: 25%;
  width: 50%;
  float: left;
}
ul{
  list-style-type: none;
  margin-top: 5%;
  padding: 0px;
  text-align: center;
}
a{
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  
}

/******************************nav-1******************************************/
.nav-1{
  background: rgba(86, 119, 140, 0.8);
}
.nav-1 a:before{
  content: '┌';
}
.nav-1 a:after{
  content: '┘';
}
.nav-1 a:before,.nav-1 a:after{
  position: relative;
  top: 0px; 
  right: 0px;
  opacity: 0;
  -webkit-transition:  opacity 0.2s, top 0.2s, right 0.2s;
  -moz-transition:  opacity 0.2s, top 0.2s, right 0.2s;
  -ms-transition:  opacity 0.2s, top 0.2s, right 0.2s;
  -o-transition: opacity 0.2s, top 0.2s, right 0.2s;
  transition: opacity 0.2s, top 0.2s, right 0.2s;
}
.nav-1 a:hover::before{
  top: -15px; 
  right: 10px;
  opacity: 1;
}
.nav-1 a:hover::after{
  top: 15px; 
  right: -10px;
  opacity: 1;
}


/******************************nav-2******************************************/
.nav-2{
  /*background: rgba(86, 119, 140, 0.8);*/
  background: rgba(59, 83, 99, 0.8);
}
.nav-2 a{
    opacity: 0.2;
}
.nav-2 a:before,.nav-2 a:after{
  width: 2px;
  height: 32px;
  background: white;
  content: '';
  position: absolute;
  top: 0px;
  right: -10px;
  /*border-right: solid 1px white;*/
  -webkit-transition:  all 0.2s;
  -moz-transition:  all 0.2s;
  -ms-transition:  all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.nav-2 a:before{
    top: 0px;
    left: -10px;
}
.nav-2 a:hover{
    opacity: 1;
}
.nav-2 a:hover::before{
  top: -35px; 
  left: 22px;
  width: 2px;
  height: 72px;
  /*opacity: 1;*/
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nav-2 a:hover::after{
  /*top: 35px;*/
  left: 22px;
  width: 2px;
  height: 72px;
  /*opacity: 1;*/
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/**************************nav-3**********************************************/
.nav-3{
  background: rgba(59, 83, 99, 0.8);
}
.nav-3 a{
    opacity: 0.2;
}
.nav-3 a:before,.nav-3 a:after{
    content: '';
    position: absolute;
    -webkit-transition:  all 0.2s;
    -moz-transition:  all 0.2s;
    -ms-transition:  all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


.nav-3 a:hover{
    opacity: 1;
}
.nav-3 a:hover::before{
    top: -11px; 
    left: -3px;
    width: 50px;
    height: 50px;
    opacity: 1;
    border-radius: 40px;
    border: 3px solid #4A5C69;
}

/**************************nav-4**********************************************/
.nav-4{
  /*background: rgba(59, 83, 99, 0.8);*/
  background: rgba(86, 119, 140, 0.8);
}
.nav-4 a{
    opacity: 0.2;
}
.nav-4 a:before,.nav-4 a:after{
    content: '';
    position: absolute;
    background: white;
    top: 18px;
    left: -10px;
    width: 70px;
    height: 1px;
    -webkit-transition:  all 0.2s;
    -moz-transition:  all 0.2s;
    -ms-transition:  all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


.nav-4 a:hover{
    opacity: 1;
}
.nav-4 a:hover::before{
    top: 0px; 
}
.nav-4 a:hover::after{
    top: 36px; 
}

/**************************nav-5**********************************************/

.nav-5{
  /*background: rgba(59, 83, 99, 0.8);*/
  background: rgba(86, 119, 140, 0.8);
  height: 50%;
  width: 50%;
  float: left;
  position: relative;
  z-index: 1;
}
.nav-5 a{
    overflow: hidden;
}
.nav-5 a>span{
    display: block;
    padding: 10px 20px;
    background: #445c6c;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.nav-5 a:before{
    position: absolute;
    top: 0;
    left: -12px;
    z-index: -1;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #445c6c;
    content: attr(data-hover);
    background: white;
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    transform: translateX(-25%);
    -webkit-transition:  all 0.2s;
    -moz-transition:  all 0.2s;
    -ms-transition:  all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.nav-5 a:hover::before{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}
.nav-5 a:hover span{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

/**************************nav-6**********************************************/

.nav-6{
  background: rgba(59, 83, 99, 0.8);
  /*background: rgba(86, 119, 140, 0.8);*/
  height: 50%;
  width: 50%;
  float: left;
  position: relative;
  z-index: 1;
}
.nav-6 a{
    overflow: hidden;
}
.nav-6 a>span{
    display: block;
    padding: 10px 20px;
    background: #445c6c;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.nav-6 a:before{
    position: absolute;
    top: 0;
    left: -12px;
    z-index: -1;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #445c6c;
    content: attr(data-hover);
    background: white;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition:  all 0.2s;
    -moz-transition:  all 0.2s;
    -ms-transition:  all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.nav-6 a:hover::before{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.nav-6 a:hover span{
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

/**************************nav-7**********************************************/

.nav-7{
  background: rgba(59, 83, 99, 0.8);
  /*background: rgba(86, 119, 140, 0.8);*/
  height: 50%;
  width: 50%;
  float: left;
  position: relative;
  z-index: 1;
}
.nav-7 a{
    overflow: hidden;
}
.nav-7 a>span{
    display: block;
    padding: 10px 20px;
    background: #445c6c;
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-origin: 50% 0% -25px;
    -moz-transform-origin: 50% 0% -25px;
    -ms-transform-origin: 50% 0% -25px;
    -o-transform-origin: 50% 0% -25px;
    transform-origin: 50% 0% -25px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

}
.nav-7 a span:before{
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    color: #445c6c;
    content: attr(data-hover);
    background: white;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition:  all 0.2s;
    -moz-transition:  all 0.2s;
    -ms-transition:  all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}
.nav-7 a:hover span{
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-120deg);
}

/**************************nav-8**********************************************/

.nav-8{
  background: rgba(86, 119, 140, 0.8);
  height: 50%;
  width: 50%;
  float: left;
  position: relative;
  z-index: 1;
}
.nav-8 a>span{
    display: block;
    padding: 10px 20px;
    background: #445c6c;
    -webkit-transform-origin: 50% 0% -25px;
    -moz-transform-origin: 50% 0% -25px;
    -ms-transform-origin: 50% 0% -25px;
    -o-transform-origin: 50% 0% -25px;
    transform-origin: 50% 0% -25px;
    

}
.nav-8 a span:before{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #445c6c;
    content: attr(data-hover);
    background: white;
    -webkit-transform: rotateY(270deg);
    -moz-transform: rotateY(270deg);
    -ms-transform: rotateY(270deg);
    -o-transform: rotateY(270deg);
    transform: rotateY(270deg);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition:  all 0.2s;
    -moz-transition:  all 0.2s;
    -ms-transition:  all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}
.nav-8 span:hover::before{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}




/**************************nav-9**********************************************/

.nav-9{
    background: rgba(86, 119, 140, 0.8);
    float: left;
    position: relative;
    z-index: 1;
}
.nav-9 a{
    color: #bcd1d1;
    text-shadow: 0 0 1px rgba(77, 86, 86, 0.3);
}

.nav-9 a::before{
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;

}
.nav-9 a:hover::before{
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}


/**************************nav-10**********************************************/

.nav-10{
    background: rgba(59, 83, 99, 0.8);
    float: left;
    position: relative;
    z-index: 1;
}
.nav-10 a{
    color: #bcd1d1;
    text-shadow: none;
}

.nav-10 a::before{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;

}
.nav-10 a:hover::before{
    max-width: 100%;
}
